
/*************** Al jazeera Arabic Font ********/
@font-face {
    font-family: "Al Jazeera";
    src: url("../Fonts/Al-Jazeera-Arabic-Regular.ttf");
    }

@font-face {
    font-family: "AlJazeeraa";
    src: url("../Fonts/Aljazeera.ttf");
}
@font-face {
    font-family: "AlJazeeraBold";
    src: url("../Fonts/Al-Jazeera-Arabic-Bold.ttf");
}
@font-face {
    font-family: "AlJazeeraLight";
    src: url("../Fonts/Al-Jazeera-Arabic-Light.ttf");
}
@font-face {
    font-family: "MyriadPro-Regular";
    src: url("../Fonts/MyriadPro-Regular.otf");
}
/*****************************************************/

body{
direction: rtl;
}
img{
    width:100%;
}

.heroSec{
    height: 880px;
    padding-top:270px;
    background-image: url("../img/header.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.heroSec form,.contactSec form{
    position: relative;
    direction: ltr;
    font-family: "Al Jazeera";
    color:white;
    width:340px;
    padding:60px 35px;
    background-color:rgba(0,0,0,.7);
    position: relative;
}
.heroSec form p,.contactSec form p{
    font-size:35px;
}
.heroSec form span,.contactSec form span{
    font-size:24px;
}
.formControl{
    background-color: rgba(255,255,255,.35);
    border-radius: 3px;
    width:100%;
    margin-top:15px;
border:0;
padding:5px;
}
.sendHeroForm{
    margin-top:15px;
border-radius: 20px;
background-color: #05aece;
padding:8px 47px

}
.formControl::placeholder{
font-size:14px;
 font-family: "MyriadPro-Regular";
 color:white;
 padding:20px;

}
.Nameinput{
    width:50%;
}
.countryInput{
    width:40%;
    margin-left:20px;
}
.Nameinput,.countryInput{
    display: inline-block;
}
.whatsuphero{
    width:90px;
    position: absolute;
    left:80px;
    bottom: 5px;
}
.turkyimg{
    width:150px;
    position: absolute;
    width: 150px;
    position: absolute;
    right: -87px;
    top: -62px;
}
.turkyimg-mobile{
    top:17px;
    left:15px;
    width: 150px;
    position: absolute;
    display: none;
}
/*********************market section **************************************/
.marketsec{
width:100%;
background-color: #f9f9f9;
border-top:10px white solid;
padding: 50px 50px 100px 0;
text-align: center;
position: relative;
height: auto;
}
.marketsec h2{
    font-size: 52px;
    font-family: "AlJazeeraBold";
}
.marketsec h2 span{
    color:#a8be1a;
}
.marketTurkey{
    position: absolute;
    width:125px;
    -ms-transform: rotate(20deg); /* IE 9 */
    -webkit-transform: rotate(20deg); /* Safari */
    transform: rotate(-50deg);
    top:85px;
    left:140px;
}
.istanbulProj{
    height: 360px;
    margin-top:100px;
    width: 100%;
position: relative;
}
.projectInfo
{
    float: right;
   width:40%;
}
.projectInfo p{
    text-align: right;
    font-size: 24px;
    color:#656b6f;
    font-family: "Al Jazeera";
}
.carouselCont{
    overflow: hidden;
    height: 100%;
    width:60%;
    float: right;
}
.mallCarusel{
    position: relative;
    -webkit-clip-path: polygon(0 0, 73% 0, 42% 100%, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 80% 75%, 0% 75%);
}
.mallCarusel .item{
    width:100%;
}
.owl-carousel.owl-rtl .owl-item {
    float: left;
    width: 100%;

}
.owl-dots .owl-dot{
    display: inline-block;
}
.owl-dots .owl-dot span{
    width: 10px;
    height: 10px;
    margin: 5px 7px;
    background:white;
    display: block;
    border-radius: 30px;
}
.owl-dot.active span{
    background-color:#007fe4;
  
}
.mallCarusel .owl-dots{
    position: absolute;
    top: 323px;
    z-index: 3;
    left: 36%;

}
.slider-Owl .owl-dots{
    position: absolute;
    bottom: 50px;
    right: 45%;

}
.mallCarusel  .owl-nav .owl-next i, .mallCarusel  .owl-nav .owl-prev i,
.slider-Owl  .owl-nav .owl-next i, .slider-Owl .owl-nav .owl-prev i{
    color: white;
    font-size: 30px;
    position: absolute;
    top: 25%;
}
.owl-carousel .owl-nav .owl-next i:hover, .owl-carousel .owl-nav .owl-prev i:hover{
    font-weight: bold;
color: #007fe4;
}

.slider-Owl  .owl-nav .owl-next i, .slider-Owl  .owl-nav .owl-prev i {
top:50%;
}
.mallCarusel  .owl-nav .owl-next i{
    left:5px;
}
.mallCarusel .owl-nav .owl-prev i{
    right:76px;

}
.slider-Owl .owl-nav .owl-next i{
    left:5px;
}
.slider-Owl .owl-nav .owl-prev i{
    right:5px;

}
.readMore{
    border:0;
    padding:7px 30px;
    border-radius: 20px;
    background-color:#05aece;
    position: absolute;
    right: 33%;
    bottom: -45px;

}

/*********************************************************************/
.sliderSec{
    width:100%;
    position: relative;
    padding:20px 0 10px;
}
.sliderCont{
    position: relative;
    border-radius: 10px;
}
.slider-Owl {
    width:100%;
}
.item{
    width:100%;
}
.sliderSec .turkyimg{
    width:130px;
    right: 30px;
    top: 400px;
}
.owl-theme .owl-controls .owl-page {
    display: inline-block;
}
.owl-theme .owl-controls .owl-page span {
    background: none repeat scroll 0 0 #869791;
    border-radius: 20px;
    display: block;
    height: 12px;
    margin: 5px 7px;
    opacity: 0.5;
    width: 12px;
}
/******************************/
.location{
    background-color: white;
    width:100%;
}
.locationTime{
background-color: #aeaeae;
width:100%;
padding:20px 0 80px 0;
color:white;
font-family: "AlJazeeraLight";
}
.locatTime{
    display: block;
    float: right;
    margin-right:80px;
    margin-top:60px;
}
.locatTime:first-child{
    margin-right:0;
}
.locatTime:last-child{
    float:left;
}
.locationImg{
    width:50px;
    display: inline-block;
    margin-left:10px;
}
.locationInfo{
    display: inline-block;
}
.locationInfo span{
    font-size:30px;
}
.locationDetails{
    text-align: center;
}
.locationDetails h3{
    color:#05aece;
    font-size:48px;
    font-family: "AlJazeeraBold";
}
.googlemab{
    margin:50px;
}

/****************************************/
.videoDetails{
    width:100%;
    position: relative;
    height: 700px;
}
.videoDetails h3{
    color:white;
    font-size:52px;
    font-family: "AlJazeeraBold";
    position: absolute;
    z-index: 9;
    top: 77px;
    left: 19%;
}
iframe{ 
    width:100%;
    height: 100%;
}
/********************************************/
.contactSec{
    padding-top:80px;
position: relative;
}
.overlay{
background-color: rgba(0,0,0,.39);
width:100%;
position: absolute;
top:0;
left:0;
z-index: 3;
height: 100%;
}
.contactSec form{
background-color: transparent;
text-align: right;
width:420px;
margin: 0 auto;
margin-left: 313px;
z-index: 3;
}
.handPassport{
    position: absolute;
    width:245px;
    left:0;
    bottom:0;

    z-index: 1;
    
}
.contactSec .formControl{
    background-color: rgba(255,255,255,.35);}
    .contactSec .countryInput{
    margin-left:30px;
}
.contactSec .sendHeroForm {
border:0;
    padding: 5px 47px;
    position: absolute;
    bottom: 57px;
    right: -127px;
    z-index: 999;

}
.contactSec .turkyimgContact{
    width: 150px;
    position: absolute;
    left: 1px;
    top: 70px;
    z-index: 3;
}
/***********************************************/
.footer{
    width:100%;
    padding:25px 30px 40px 40px;
    background-color: white;
    direction: ltr;
}
.footerlogo{
    float: left;

    width:130px;
    line-height: 100px;
}
.footerimg{
    float: left;
    margin-left: 30px;
    width:220px;
    line-height: 120px;

}
.footertext{
    margin-left: 40px;
    float: left;
    font-size:15px;
    color:#7198c1;
    font-family: "MyriadPro-Regular";
}
.footertext span{display: block;
margin-top:10px;
text-align: left;}
.footertext:last-child{
    margin-left: 200px;
    margin-top: 58px;
}

/********************************************/
@media (min-width: 768px) and (max-width: 1025px){

}
@media (min-width: 351px) and (max-width: 767px){

    .heroSec{
        position: relative;
 height: 620px;  
  background-image: url("../img/header-mobile.png");
    }
    .heroSec form{
        display: none;
    }  
    .whatsuphero{
        width: 65px;
        bottom: 5px;
        right: 33px;
    }   
    .turkyimg-mobile{
        display: block;
    }
    .contactSec{
        padding-top:170px;
    }
    .contactSec form {
        /* position: absolute; */
        padding: 0;
        width: 342px;
        margin: 0 auto;
        top: -150px;
        text-align: center;
    }
    .contactSec .sendHeroForm{
        bottom: -61px;
        left: 34%;
    }
    .contactSec .turkyimgContact{
        width:120px;
        right:0;
        top:20px;
        z-index: 4;
    }
    .contactSec form p{
        margin:0;
        font-size :30px;
        margin-right:55px;
    }
    .contactSec form span{
        display: block;
        margin-bottom: 60px;     
           margin-right:40px;
   
 }
 .footer .row{
     justify-content: center;
 }
 .videoDetails h3{
    font-size: 35px;
    top: 55px;
    left: 7%;
 }
 .slider-Owl .owl-dots{
     right:36%;
     bottom:5px;
 }
 .googlemab{
        margin:0;
 }
 .projectInfo{
     width:100%;
     font-size: 18px;
 }
 .carouselCont{
     width:100%;
     height: auto;
 }
 .mallCarusel .owl-dots {
    top: 160px;}
    .mallCarusel .owl-nav .owl-prev i {
        right: 33px;}
        
.istanbulProj {
    height: 433px;}
    .readMore{
        bottom:10px;
    }
    .locationInfo span{
        font-size:22px;
    }
 .projectInfo p{
     font-size: 18px;
     padding:10px;
 }
 .locatTime{
     margin-right:0 !important;
     margin-top:5px;
 }
 .locationImg {
     width:30px
 }
 .firstRow .locatTime:nth-child(odd){
margin-right:-100px !important;}
.firstRow .locatTime:nth-child(even){
    margin-right: 70px !important;
 }
 .secondRow .locatTime:nth-child(even){
   margin-right: -100px !important;
}
.secondRow .locatTime:nth-child(odd){
    margin-right:70px !important;}
 .locationTime{
padding: 10px 0;
 }
 .marketsec h2{
font-size: 34px;
margin-top:100px;
 }
 .marketsec {
    border-top: 5px white solid;
    padding: 0;}

.marketTurkey {
 
    -ms-transform: rotate(-37deg);
    -webkit-transform: rotate(-37deg);
    transform: rotate(-37deg);
    top: 8px;
    right: 0;}
    

.footertext span {
    text-align: center;

}
.footertext:last-child {
    margin-left: 0;
    margin-top: 30px;}
    .sliderSec{
        position: relative;
        padding-top:80px;
    }
    .sliderSec .turkyimg{
        width:150px;
        z-index: 0;
        top:0;
        right:210px;
    }
}

